# Database
export DATABASE_URL=
export DATABASE_DIRECT_URL=

# API
export PORT=8000
export CLIENT_URL=http://localhost:3000
export API_URL=http://localhost:8000

# Web
export NEXTAUTH_URL=http://localhost:3000
export NEXTAUTH_SECRET=
export GITHUB_CLIENT_ID=
export GITHUB_CLIENT_SECRET=
export DISCORD_CLIENT_ID=
export DISCORD_CLIENT_SECRET=
